{% extends 'base.html' %}

{% load static %}

{% block title %}Der Verein{% endblock %}
{% block der_verein_active %}active{% endblock %}
{% block der_verein_aria %}aria-current="page"{% endblock %}

{% block content %}
    <div class="container-fluid pt-5" id="training">
        <div class="row mt-5 bg-light">
            <h1 class="fw-bold text-center py-5 my-color">Kinder-/Jugendtraining</h1><br>
        </div>
        <div class="row p-3">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <p class="fw-light">
                    <strong class="fw-bold">Das Jugendtraining findet freitags im Gymnasium Ettenheim statt. Es beginnt um 18:15 Uhr und endet um 19:45 Uhr.</strong><br>
                    Eingeladen sind alle Kinder und Jugendlichen aus der Umgebung.  Wir freuen uns immer über neue Gesichter und Gäste.
                    Neueinsteiger erhalten je nach Vorkenntnissen ggf. eine gesonderte Einführung im zweiten Teil des Trainings. Es besteht kein Zwang zum Wiederkommen.
                </p>
                <div class="ratio ratio-16x9 my-5">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14597.64560413307!2d7.788263124399335!3d48.261704303676126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47913ad46dae1fa1%3A0x99e92f84cd7511d4!2sSt%C3%A4dtisches%20Gymnasium%20Ettenheim!5e0!3m2!1sde!2sde!4v1744317790071!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <p class="fw-light">
                    Man muss nichts zum Training mitbringen außer Lust am Schachspielen. Das Spiel- und Trainingsmaterial wird vom Schachclub gestellt.
                    In Ausnahmefällen, z.B. bei eventuellen Terminen während Schulferien, findet das Training im Vereinsheim statt.
                    Das befindet sich im 2.OG im Haus der Vereine in der Westliche Ringstraße 31 in Ettenheim.
                </p><br>
                <p class="fw-light">
                    Das Training findet in der Regel in zwei Gruppen für Einsteiger und Fortgeschrittene statt.
                    Zu Beginn des Trainings, für etwa eine halbe Stunde, machen wir Übungen zu Themen wie Eröffnung oder Kombinationen.
                    Danach wird für etwa eine Stunde gespielt, wobei ab und zu Tipps gegeben bzw. Verbesserungsvorschläge gemacht werden ohne in die Spiele zu sehr einzugreifen.
                </p><br>
                <p class="fw-light">
                    Da das Training auch mal ausfällt, bei Interesse bitte vorab melden. Information der bekannten Teilnehmer erfolgt per E-Mail.
                    Unser Kontakt ist <strong class="fw-bold">Andreas Lindenthal</strong>, der per E-Mail oder über die Mobilfunknummer 0171 1242217 kontaktiert werden kann.
                </p><br>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>

    <div class="container-fluid pt-5" id="spielabend">
        <div class="row mt-5">
            <h1 class="fw-bold text-center bg-light py-5" style="color:rgb(121,37,61);">Spielabend</h1><br>
        </div>
        <div class="row p-3">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <p class="fw-light">Unser Spielabend findet immer <strong class="fw-bold">freitags ab 20 Uhr</strong> im alten Gefängnis im 2. OG über der Bibliothek bzw. der Stadtbücherei statt: <strong class="fw-bold">Westliche Ringstraße 31, 77955 Ettenheim</strong>.</p>
                <div class="ratio ratio-16x9 my-5">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4872.1276959876795!2d7.807561850276483!3d48.25385635947212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47913ad60707442f%3A0x290a84ceaa596b57!2sWestliche%20Ringstra%C3%9Fe%2031%2C%2077955%20Ettenheim!5e0!3m2!1sde!2sde!4v1744317331700!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <p class="fw-light">Gäste und Einsteiger sind jederzeit willkommen. Eingeladen sind alle Schachinteressierten aus der Umgebung. Es besteht kein Zwang zum Wiederkommen.<br><br>
                    Da der Spielabend auch mal ausfallen kann, bitte beim ersten Mal vorab per Mail nachfragen. Unser Kontakt ist Andreas Lindenthal,
                    der per E-Mail oder über die Mobilfunknummer 0171 1242217 kontaktiert werden kann.
                </p><br>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    
    <div class="container-fluid pt-5" id="mannschaften">
        <div class="row mt-5">
            <h1 class="fw-bold text-center bg-light py-5" style="color:rgb(121,37,61);">Mannschaften</h1><br>
        </div>
        <div class="row p-3">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <p class="fw-light">In dieser Saison sind wir mit vier Mannschaften im Schachbezirk Freiburg vertreten.</p><br>
                <a href="https://bsv-ergebnisdienst.de/index.php?p1=0:pa:LLS1-24-9" class="link-body-emphasis link-underline-opacity-0" target="_blank">
                    <h4 class="fw-bold" style="color:rgb(121,37,61);">
                        1. Mannschaft
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5"/>
                            <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0z"/>
                        </svg>
                    </h4>
                </a>
                <p class="fw-light">Unsere 1. Mannschaft spielt dieses Jahr wieder in der Landesliga!</p><br>
                <a href="https://bsv-ergebnisdienst.de/index.php?p1=0:pa:BK8-24-9" class="link-body-emphasis link-underline-opacity-0" target="_blank">
                    <h4 class="fw-bold" style="color:rgb(121,37,61);">
                        2. Mannschaft
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5"/>
                            <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0z"/>
                        </svg>
                    </h4>
                </a>
                <p class="fw-light">Unsere 2. Mannschaft spielt in der Bezirksklasse.</p><br>
                <a href="https://bsv-ergebnisdienst.de/index.php?p1=0:pa:KK8B-24-9" class="link-body-emphasis link-underline-opacity-0" target="_blank">
                    <h4 class="fw-bold" style="color:rgb(121,37,61);">
                        3. Mannschaft
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5"/>
                            <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0z"/>
                        </svg>
                    </h4>
                </a>
                <p class="fw-light">Unsere 3. Mannschaft spielt in der Kreisliga B.</p><br>
                <a href="https://bsv-ergebnisdienst.de/index.php?p1=0:pa:KK8D-24-9" class="link-body-emphasis link-underline-opacity-0" target="_blank">
                    <h4 class="fw-bold" style="color:rgb(121,37,61);">
                        4. Mannschaft
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5"/>
                            <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0z"/>
                        </svg>
                    </h4>
                </a>
                <p class="fw-light">Unsere 4. Mannschaft spielt in der Kreisliga D.</p>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <img src="{% static 'images/teamwork.jpg' %}" class="w-100" alt="teamwork">
    </div>
{% endblock %}