{% extends 'base.html' %}

{% load static %}

{% block title %}Mannschaften{% endblock %}
{% block mannschaften_active %}active{% endblock %}
{% block mannschaften_aria %}aria-current="page"{% endblock %}

{% block content %}
<div class="container-fluid text-start">
    <div class="row my-5">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <p class="fw-light">In dieser Saison sind wir mit vier Mannschaften im Schachbezirk Freiburg vertreten.</p><br>
            <a href="https://bsv-ergebnisdienst.de/index.php?p1=0:pa:LLS1-24-9" class="link-body-emphasis link-underline-opacity-0" target="_blank">
                <h4 class="fw-bold" style="color:rgb(121,37,61);">
                    1. Mannschaft
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-up-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5"/>
                        <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0z"/>
                    </svg>
                </h4>
            </a>
            <p class="fw-light">Unsere 1. Mannschaft spielt dieses Jahr wieder in der Landesliga!</p><br>
            <a href="https://bsv-ergebnisdienst.de/index.php?p1=0:pa:BK8-24-9" class="link-body-emphasis link-underline-opacity-0" target="_blank">
                <h4 class="fw-bold" style="color:rgb(121,37,61);">
                    2. Mannschaft
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-up-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5"/>
                        <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0z"/>
                    </svg>
                </h4>
            </a>
            <p class="fw-light">Unsere 2. Mannschaft spielt in der Bezirksklasse.</p><br>
            <a href="https://bsv-ergebnisdienst.de/index.php?p1=0:pa:KK8B-24-9" class="link-body-emphasis link-underline-opacity-0" target="_blank">
                <h4 class="fw-bold" style="color:rgb(121,37,61);">
                    3. Mannschaft
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-up-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5"/>
                        <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0z"/>
                    </svg>
                </h4>
            </a>
            <p class="fw-light">Unsere 3. Mannschaft spielt in der Kreisliga B.</p><br>
            <a href="https://bsv-ergebnisdienst.de/index.php?p1=0:pa:KK8D-24-9" class="link-body-emphasis link-underline-opacity-0" target="_blank">
                <h4 class="fw-bold" style="color:rgb(121,37,61);">
                    4. Mannschaft
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-up-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5"/>
                        <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0z"/>
                    </svg>
                </h4>
            </a>
            <p class="fw-light">Unsere 4. Mannschaft spielt in der Kreisliga D.</p>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
<div class="container-fluid p-0">
    <img src="{% static 'images/teamwork.jpg' %}" class="w-100" alt="teamwork">
</div>

{% endblock %}
