{% extends 'base.html' %}

{% load static %}

{% block title %}Spielabend{% endblock %}
{% block spielabend_active %}active{% endblock %}
{% block spielabend_aria %}aria-current="page"{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row p-2 my-5">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <h3 class="fw-bold" style="color:rgb(121,37,61);">Dein Schachverein in der Ortenau</h3><br>
                <p class="fw-light">Unser Spielabend findet immer <strong class="fw-bold">freitags ab 20 Uhr</strong> im alten Gefängnis im 2. OG über der Bibliothek bzw. der Stadtbücherei statt: <strong class="fw-bold">Westliche Ringstraße 31, 77955 Ettenheim</strong>.</p>
                <div class="ratio ratio-16x9 my-5">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4872.1276959876795!2d7.807561850276483!3d48.25385635947212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47913ad60707442f%3A0x290a84ceaa596b57!2sWestliche%20Ringstra%C3%9Fe%2031%2C%2077955%20Ettenheim!5e0!3m2!1sde!2sde!4v1744317331700!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <p class="fw-light">Gäste und Einsteiger sind jederzeit willkommen. Eingeladen sind alle Schachinteressierten aus der Umgebung. Es besteht kein Zwang zum Wiederkommen.<br><br>
                    Da der Spielabend auch mal ausfallen kann, bitte beim ersten Mal vorab per Mail nachfragen. Unser Kontakt ist Andreas Lindenthal,
                    der per E-Mail oder über die Mobilfunknummer 0171 1242217 kontaktiert werden kann.
                </p><br>
                <a href="{% url 'training' %}" class="link-body-emphasis fw-bold">Für Kinder und Jugendliche bieten wir noch ein extra Training an. Weitere Informationen dazu gibt es hier!</a>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    <div class="text-center bg-light">
        <img src="{% static 'images/vereinshaus.jpg' %}" class="img-fluid" alt="vereinshaus">
    </div>
{% endblock %}
